.footer-position {
    width: 100%;
    height: 100px;
    bottom: 0;
}

.social-icons {
    width: 10%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}