.home-section {
    width: 80%;
    margin: 5% auto;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resume-button {
    background-color: #263238;
    border: 2px solid black;
    color: white;
    font-size: large;
    font-weight: 700;
    transition: 0.8s;
    padding: 10px 25px;
    border-radius: 5px;
}

.resume-button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
}

.left-side {
    padding: 0 5%;
}

.right-side {
    width: 40%;
}

.right-side img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 20px 20px #222;
    transition: 0.8s;
}

.right-side:hover img {
    width: 90%;
    border-radius: 20px;
    box-shadow: -20px -20px #222;
}

.custom-text {
    text-align: justify;
    color: white;
    font-size: large;
}

@media only screen and (min-width: 768px) and (max-width: 1425px) {
    .left-side {
        width: 95%;
    }

    .right-side {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .home-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        width: 80%;
    }

    .right-side {
        margin: 10% auto;
    }

}